.bg-laci{
    background-color:#085E7D;
}
.my-icon{
    font-size: 15px;
}
.my-house{
    color: white;
}
.nav-item a{
    color: #FFFFFF8C;
}.nav-item a:hover{
    color: white;
}
.active a{
    color: white;
}
.card img{
    height: 25vh;
}